
body{
    background: linear-gradient(#FFA3FD, rgb(162,26,183));

}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 35vh;
    width: 20vh;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 4vh;
    border-radius: 25px;
    background-color: rgb(161,46,196);
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);

    
}

img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    border: solid #fff;
    box-shadow:  0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
   
}
